/*  styling scrollbars  */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #40e2a4;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
  }
.div_nav{
    height: 50px;
}



.wrapper{
  margin-top: 30px;
  padding-left: 20px;
  display: inline-block;
  width: 99%;
  overflow-x: hidden;
}

.profile{
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    height: auto;
    width: 500px;
    margin: 10px;
    border-color: #40e2a4;
}
.profile_img{
    width: 30%;
}

.img{
    border-radius: 100px;
    height: 80%;
    width: 90%;
    padding: 10%;
}
.profile_content{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.profile_name{
    color: gray;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    text-align: left;
    height: 30%;
    margin-bottom: 2px;
}
.profile_info{
    padding-right: 3px;
    color: rgb(94, 91, 91);
    font-size: 18px;
    
}
.profile:hover{
    cursor: pointer;
    
}
#logo{
    width: 40px;
}
.approval{
    background-color: #40e2a4;
    border: none;
    color: white;
    outline: none;
    height: 30px;
    margin-top: 50%;
}
.approval:hover{
    background-color: white;
    border: 1px solid #40e2a4;
    color: #40e2a4;
    outline: none;
    cursor: pointer;
}
.decline{
    background-color: #eb2020;
    border: none;
    color: white;
    outline: none;
    height: 30px;
    margin-top: 50%;
}
.decline:hover{
    background-color: white;
    border: 1px solid #eb2020;
    color: #eb2020;
    outline: none;
    cursor: pointer;
}
.eventDiv{
    margin-left: 3%;
}
.eventName{
    color: #0584aa;
    border: none;
    outline: none;
    background: transparent;
    font-size: 22px;
}
.eventName{
    cursor: pointer;
}
.artistDropdown-content {
  display: none;
  background: transparent;
  min-width: 290px;
  overflow: auto;
  margin-left: 2%;
  z-index: 1;
  height: auto;
  overflow:visible;
}
.display 
{
    display: block;
    margin-bottom: 5%;
}
.fa-angle-right{
    padding-left:20px ;
}
.fa-angle-right.down {
    -moz-transform:rotate(70deg);
    -webkit-transform:rotate(70deg);
    transform:rotate(70deg);
    margin-left: 20px;
    margin-bottom: 5px;
    display: table-cell;
}
.search{
    border: 1px solid #40e2a4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 35px;
    width: 98%;
    margin-bottom: 2%;
}
.button_search{
    border: none;
    font-size: 22px;
    box-shadow: none;
    background-color: transparent;
    color: #40e2a4;
    outline: none;
    padding-bottom: 5px;
}
.inputSearch{
    width: 100%;
    border: none;
    background: transparent;
    height: 20px;
    outline: none;
}
