.approvedTable {
  border-collapse: collapse;
  width: 99%;
}
.approvedTable th {
    background-color: #40e2b9;
    color: white;
}
.approvedTable td {
  border: 1px solid rgb(231, 231, 231);
}
.approvedTable td, .approvedTable th {
  padding: 7px;
  padding-bottom: 10px;
}
tr{
    background-color: #ffffff;
    margin-bottom: 100px;
}
.approvedTable tr:nth-child(odd)
{
    background-color: rgba(134, 255, 199, 0.1);
    
}
tr:hover {
    background-color: #f3f3f3;
}
td{
    color: #6e6e6e;
    text-align: center;
    transition: all ease 1s;
    
}
td.name:hover{
   background-color: rgb(13, 136, 218); 
   color: white;
   cursor: pointer;
   font-size: 18px;
}
