.search{
    border: 1px solid #40e2a4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 35px;
    width: 96%;
    margin-bottom: 10px;
    margin-left: 1%;
}
.button_search{
    border: none;
    font-size: 22px;
    box-shadow: none;
    background-color: transparent;
    color: #40e2a4;
    outline: none;
    padding-bottom: 5px;
}
.inputSearch{
    width: 100%;
    border: none;
    background: transparent;
    height: 20px;
    outline: none;
}
.approvedTable {
  border-collapse: collapse;
  width: 99%;
}
.approvedTable th {
    background-color: #40e2b9;
    color: white;
}
.approvedTable td {
  border: 1px solid rgb(231, 231, 231);
}
.approvedTable td, .approvedTable th {
  padding: 7px;
  padding-bottom: 10px;
}
tr{
    background-color: #ffffff;
    margin-bottom: 100px;
}
.approvedTable tr:nth-child(odd)
{
    background-color: rgba(134, 255, 199, 0.1);
    
}
tr:hover {
    background-color: #f3f3f3;
}
td{
    color: #6e6e6e;
    
}

