/*  styling scrollbars  */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #348DE6;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
  }
*{
    overflow-x: hidden;
}
.div_nav{
    height: 50px;
}

.nav{
    border-bottom: 1px solid #348DE6;
    display: flex;
    flex-direction: row;
}
.logo{
    margin-left: 50px;
}
.logo:hover{
    cursor: pointer;
}
.search{
    border: 1px solid #348DE6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 35px;
    width: 300px;
  

}
.button_search{
    border: none;
    font-size: 25px;
    box-shadow: none;
    background-color: transparent;
    color: #348DE6;
}
.input{
    border: none;
    box-shadow: none;
    background: transparent;
   
}
.search_form{
    margin: 0 auto;
}




.body_div {
    float: left;
    width: 32.33%;
    padding: 5px;
    padding-left: 2px;
    padding-top:1px ;
}

  
  /* Clear floats after image containers */
  .body::after {
    content: "";
    clear: both;
    display: table;
}
  
  /* Add a hover effect (blue shadow) */
  .body_div img:hover {
    box-shadow: 0 0 2px 1px #348DE6;
    cursor: pointer;

}
  .body_div button{
      background-color:#348DE6 ;
      color: #ffffff;
      border: none;
      height: 25px;
      width: 50px;
  }
  .body_div p{
      width: 60%;
  }

  .body_div button:hover{
    cursor: pointer;
    background-color:#ffffff ;
    color: #348DE6;
    border: 1px solid #348DE6;
    height: 25px;
    width: 50px;
  }


article {
    padding: 20px;
    padding-left: 40px;
    padding-top:5px ;
    width: 100%;
    background-color: #ffffff;
    height: 100%; 
}
/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}



.img{
    width: 240px;
    height: 205px;
}
.body_div {
    width: 23.33%;
    }
    h1{
        color: #707070;
        font-size: 20px;

    }
    div p{
        margin: 0;
        margin-bottom: 4%;
    }

#logo{
    width: 40px;
}